<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Inventory App</title>
</head>
<body>
    <main class="main-grid">
            <a href="/language">
                <div class="card">
                    <h2>Languages</h2>
                </div>
            </a>
            <a href="/author">
                <div class="card">
                    <h2>Authors</h2>
                </div>
            </a>
            <a href="/framework">
                <div class="card">
                    <h2>Frameworks</h2>
                </div>
            </a>
    </main>
</body>
</html>